---
import Layout from '../layouts/Layout.astro';
import CardComponent from '../components/CardComponent.astro';
---

<Layout title='Frontend Mentor | FAQ Accordion Card'>
	<main>
		<CardComponent />
	</main>
</Layout>

<style></style>
