---
import AccordionComponent from './AccordionComponent.astro';
import {
	IllustrationBgPattern,
	IllustrationBoxComponent,
	IllustrationWomanComponent,
} from '../components/ImageComponents';
---

<div class='card'>
	<section class='img-banner'>
		<IllustrationWomanComponent />
		<IllustrationBoxComponent />
		<IllustrationBgPattern />
	</section>
	<section class='faq'>
		<h1>FAQ</h1>
		<AccordionComponent />
	</section>
</div>
<style>
	.card {
		display: flex;
		background-color: var(--white);
		max-width: 1000px;
		position: relative;
		border-radius: 15px;
		margin: 0 auto 0;
		top: 150px;
		padding: 60px;
	}

	.img-banner {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.faq {
		width: 100%;
	}

	h1 {
		font-size: 36px;
		margin-bottom: 20px;
	}

	@media (max-width: 992px) {
		.card {
			flex-direction: column;
		}

		.img-banner {
			height: 100px;
		}

		h1 {
			text-align: center;
		}
	}
</style>
